-if @user
  %p
    %h5
      hello! you are 
      =@user.screen_name
      
  %h3
    make a weibo!
  %form{:action => "/update", :method => "POST", :enctype => "multipart/form-data"}
    %textarea{:id => 'status', :name => "status", :cols => "62", :rows => "5"}
    %br
    %input{:id => 'file', :name => 'file',  :type => 'file'}
    %br
    %input{:type => "submit", :value => "Send"}
    
  %br
  %br
  %br  
  %h3
    home timeline
  .statuses
    -@statuses.friends_timeline.statuses.each do |status|
      .status
        %p.text
          =status.text
          
            
        %br
        -if status.bmiddle_pic
          %img{:src => status.bmiddle_pic,  :alt => "", :class => 'pic'}
          %br
        .time_and_by
          =Time.parse(status.created_at).ago_in_words
          by
          =status.user.screen_name
          from
          =status.source
        %br
        %br
        %br
        %br
        