!!!
%html(xml:lang='en' lang='en' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %meta(content='text/html;charset=UTF-8' http-equiv='content-type')
    %title="weibo oauth2 api example"
    %link{:href => "/screen.css", :rel =>"stylesheet", :type => "text/css", :media => "screen" }
  %body
    %h2="weibo oauth2 api example"
    %a{:href => (session[:uid] ? "/logout" : "/connect")}=(session[:uid] ? "logout" : "connect")
    = yield
  %footer
    %h6="http://github.com/simsicon/weibo_2"