.statuses
  background-color: #CECECE
  padding: 20px
  
  .status
    background-color: white
    margin: 10px
    padding: 20px
    font-size: 12px
    
    .time_and_by
      margin-top: 10px
      color: #8F8F8F